/* ---------buttons-----------*/




$test-end-btn-primary-color: #EB1B00;
/*----------------------------*/

/* ----section header-----------*/
$header-font-family-base: 'Roboto';
$header-font-size: 12px;
$header-text-menu-color: white;
$header-text-color: #FFC700;
$header-bg-color: #181818;
/*----------------------------*/

/*----section Landing-----------*/
$land-font-family-base: 'Roboto';
$land-font-family-second: 'Roboto';
$land-font-family-th: 'Roboto';
$land-font-family-four: 'Roboto';

$land-btn-font-size: 14px;
$land-btn-color: none;
$land-btn-color-hover: #FFC700;
$land-btn-text-color: white;
$land-btn-text-color-second: black;

$land-bg-image-one: url(../images/bg-test.jpg);
$land-bg-image-two: url(../images/ld-bg-article.jpg);
$land-bg-image-th: url(../images/bg-iq.jpg);

/*----------------------------*/

/*----section test-----------*/
$test-text-color: #FFFFFF;
$test-text-color-hover:#272727;
$test-bg-color: #0D0C11;

$test-font-family-base: 'Roboto';
$test-font-size-headers: 20px;
$test-font-size-base: 18px;

$task-btn-font-family: 'Roboto';
$task-btn-font-size: 14px;
$task-btn-text-color: #8E8E8E;
$task-btn-color: #DADADA;
$task-btn-color-hover: #FFC700;

$test-bg-image: url(../images/bg-test.jpg);
/*----------------------------*/

/*----section results-----------*/
$results-font-size-headers: 23px;
$results-font-size-base: 14px;
/*----------------------------*/